.bilder {
  &-heading {
    margin-top: 5rem;
    margin-bottom: 3rem;
    @include fontBBC ($ls:$LSHeadingInBorder, $fw: 500, $fs: $FSHeadInBorder);
    text-align: center;
    color: #020303;
  }
  &-headingButtons {
    margin-top: 5rem;
    margin-bottom: 3rem;
    @include fontBBC ($ls:$LSHeadingBasic, $fw: 500, $fs: $FSHeadInBorder);
    text-align: center;
    color: #020303;
  }
  &-button {
    background: linear-gradient(180deg, #0c5cd6 0%, rgba(0, 56, 140, 0) 100%),
      #004fc7;
    border: 1px solid #ffffff;
    box-sizing: border-box;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.21);
    border-radius: 12px;
    height: 3.9rem;
    @include fontBBC ($ls:$LSButton, $fw: 500, $fs: $FSText);
    color: #fafbfe;
    text-transform: uppercase;
  }
  &-buttonsApp {
    padding-bottom: 5rem;
  }
}
.border-app {
  background: #fbfbfc;
  border: 2px solid #eef0f4;
}
.slick-arrow {
  background: #ffffff;
  box-shadow: 0px 0px 21px rgba(64, 68, 75, 0.14);
  border-radius: 8px;
  border: none;
  width: 9rem;
  height: 4rem;
  position: absolute;
  bottom: 0;
  font-size: 0;
  &:active {
    -webkit-box-shadow: 0px 0px 14px -1px #000000; 
    box-shadow: 0px 0px 14px -1px #000000;
  }
}
.slick-prev {
  left: 3rem;
  &::before {
    content: url(/assets/img/arrow-left.png);
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slick-next {
  left: 13rem;
  &::before {
    content: url(/assets/img/arrow-right.png);
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.slick-dots {
  display: flex;
  justify-content: space-evenly;
  list-style-type: none;
  width: 10vw;
  margin-left: 20rem;
}
.slick-dots li.slick-active button:before {
  content: url("/assets/img/dots-active.png");
  width: 12px;
  height: 12px;
}
.slick-dots li button::before {
  content: url("/assets/img/dots.png");
  width: 12px;
  height: 12px;
}
.slick-dots > li > button {
  border: none;
  background: #fbfbfc;
  color: #fbfbfc;
  margin-top: 2rem;
  margin-bottom: 2.5rem;
}
@media only screen and (max-width: 992px) {
  .slick-dots {
    margin-left: 0;
    padding-left: 45vw;
  }
  .bilder {
    &-heading {
      margin-top: 2rem;
      margin-bottom: 1.5rem;
      font-size: $FSHeadInBorderMob;
    }
    &-headingButtons {
      margin-top: 1rem;
      margin-bottom: 0;
      text-align: center;
      font-size: $FSHeadInBorderMob;
    }
  }
  .slick-dots > li > button {
    margin-top: 1rem;
  }
}
