//Letter-spacing
$LSBasic: -0.4px; //letter-spacing basic
$LSHeader: -0.32px; // letter-spacing header
$LSButton: 1.42px; //letter-spacing button
$LSHeadingBasic: 2.42px; // letter-spacing basic
$LSHeadingInBorder: 4.42px; // letter-spacing sections in border

//Line-height
$LHBasic: 32px; //line-height basic
$LHHaup: 35px; //line-height haup section
$LHHeader: 20px; //line-height header section
$LHH1: 1.4; //line-height h1 (luft section)
$LHHeadingBasic: 40px; //line-height basic heading
$LHButtonJetzt: 26px; //line-height button jetzt section

//Font-size
$FSText: 1.05em; // font-size text Noto Sans
$FSVorteile: 1.2em; //font-size text Nato Sans vorteile section
$FSHeadBasic: 1.25em; // font-size heading energi/modern/unsere section
$FSHeadInBorder: 1.75em; //font-size heading section in border
$FSHeadLuft: 2.8em; // font-size heading luft section
$FSHeadJetzt: 2.1em; //font-size heading jetzt section
$FSButtonJetzt: 1.15em; //font-size button jetzt section

// Font-size mobile
$FSHeadLuftMob: 34px; // font-size heading luft section
$FSHeadBasicMob: 18px; // font-size heading energi/modern/unsere section
$FSHeadInBorderMob: 20px; //font-size heading section in border
$FSHeadJetztMob: 26px; //font-size heading jetzt section
